

extends home1

block content

    -data = data || {}

    |

    if errors
        ul.error-list
            li(class = "cat")
            each error in errors
                li  <span style="color: red;font-weight: bold;">!Error: </span> #{error.msg}


    h2(class="pig") Register to subscribe
    form(action = "/register" method = "POST" class = "form-registration")
        label(for="name") Name:
        input(
            type = "text"
            id = "name"
            name = "name"
            class = "form-control"
            value = data.name
        )

        label(for="email") Email:
        input(
            type = "email"
            id = "email"
            name = "email"
            class = "form-control"
            value = data.email
        )
        input(
            type = "submit"
            value = "Register"
            class = "btn btn-lg btn-primary btn-block"
        )
