doctype html
html
    head
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='/css/styles.css' )
        link(rel = 'stylesheet', href = '/css/bootstrap.min.css' )

    main
        header
            nav
                ul
                    li
                            a(href='/')        Home
                    li(style="color: white;") |
                    li
                        a(href='#') Blog
                    li
                        a(href='/register')      Register

        #intro-container
            section#intro-text
                span Simple Kitchen
                h3
                    |          Simple &amp; Comforting
                    br
                    |Recipes All Year Round

            section#intro-image
                block content
        footer
            | &copy; Copyright 2021
